<footer>
    <div class="w-full h-[350px] bg-red-500">

        <div class="w-full h-[80%] bg-blue-300 flex items-center justify-center">
            <ul class="w-[80%] h-[80%] flex">
                <li class="w-[20%] h-full bg-red-300 border space-y-4">
                    <h2 class="text-white font-bold text-xl">Exclusive</h2>
                    <p class="text-white">Subscribe</p>
                    <p class="text-white">Get 10% off your first order</p>
                    <input type="text" placeholder="Enter your email" class="w-[80%] px-2 py-1 border border-white">
                </li>
                <li class="w-[20%] h-full bg-red-300 border space-y-4">
                    <h2 class="text-white font-bold text-xl">Support</h2>
                    <p class="text-white">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</p>
                    <p class="text-white">exclusive@gmail.com</p>
                    <p class="text-white">+88015-88888-9999</p>
                </li>
                <li class="w-[20%] h-full bg-red-300 border space-y-4">
                    <h2>Account</h2>
                    <p class="text-white">My Account</p>
                    <p class="text-white">Login / Register</p>
                    <p class="text-white">Cart</p>
                    <p class="text-white">Wishlist</p>
                    <p class="text-white">Shop</p>
                </li>
                <li class="w-[20%] h-full bg-red-300 border space-y-4">
                    <h2 class="text-white font-bolt text-xl">Quick link</h2>
                    <p class="text-white">Privacy Policity</p>
                    <p class="text-white">Terms Of Use</p>
                    <p class="text-white">FAQ</p>
                    <p class="text-white">Contact</p>
                </li>
                <li class="w-[20%] h-full bg-red-300 border space-y-4">
                    <h2 class="text-white font-bolt text-xl">Download app</h2>
                    <p class="text-white">Save $3 with App $amp New user only</p>
                    <div class="w-full h-[40%] bg-gray-200 flex items-center justify-around px-6">
                        <div class="w-[50%]">
                            <img src="../../public/images/qrcode.png" class="w-[100px]">
                        </div>
                        <div class="w-[50%]">
                            <img src="../../public/images/playmarket.png" class="mb-1 w-[120px]" alt="google-play">
                            <img src="../../public/images/playstore.png" class="w-[120px]" alt="app-store">
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="w-full h-[20%] bg-orange-300 flex items-center justify-center border-t-2 border-gray-300">
            <p class="text-white font-medium">Copyright Rimel 2022. All right reserved</p>
        </div>

    </div>
</footer>